body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}

textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
